<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Note_saving_application.Properties.Settings.Db_note_savingConnectionString"
            connectionString="Data Source=FIRAT-PC\SQLEXPRESS;Initial Catalog=Db_note_saving;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>